*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #151515;
    color: white;
    padding: 15px 15px;
    text-align: center;   
    position: relative;
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;  
}
main{
    background-color: rgb(228, 228, 228);
}
.products-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    background: #f2f2f2;
    flex-wrap: wrap;
}
.product-card {
    background: white;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.product-card:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.product-card img {
    width: 40px;
    height: 60px;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
     0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px); 
    }
    100% {
        transform: translateY(0px); 
    }
}
.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ff6f6f;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.15); 
    }
    100% { transform: scale(1); }
}
h3{
    margin: 20px;
    height: 20px;
    overflow: hidden;
}
p{
    line-height: 1.5rem;
    height: 50px ;
    overflow: hidden;
}
.product-card h2{
    font-weight: bold;
    align-items: center;
    color: blue;
    margin: 20px;
}
button{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: blue;
    padding: 8px 16px;
    border: none;
}
.comparison{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    background: #f2f2f2;
    flex-wrap: wrap;
}
.comparison-card{
    background: white;
    width: 1075px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.comparison-card h2{
    color: black;
    margin-bottom: 20px;
}
table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead{
    background-color: rgb(96, 96, 234);
    color: white;
}
th, td{
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}
tr:last-child td{
    border:none;
}
tbody tr:hover{
    background-color: gainsboro;
    transform: scale(1.01);
    transition: all 0.3s ease;
}
footer{
    background: #151515;
    color: white;
    padding: 20px 10px;
    text-align: center;   
    position: relative;
}
